@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap&subset=cyrillic');

body {
    font-family: 'Arimo', sans-serif;
}

.schedule {
    width: 1200px;
    height: 740px;
}

.main-table {
    width: 1192px;
    height: 736px;
    border: 22px solid #3a4965;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid grey;
}

tr:first-child {
    width: 310px;
}

tr:nth-child(1) td:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
}

.header {
    font-size: 30pt;
    font-weight: bold;
    color: rgba(72, 72, 72, 255);
}

tr:nth-child(1) td:nth-child(2) {
    height: 70px;
    background-color: #89c331;
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
}

tr:nth-child(1) td:nth-child(3) {
    background-color: #f04a56;
    font-size: 30pt;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
}

tr:nth-child(1) td:nth-child(4) {
    background-color: #20807c;
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
}



tr:nth-child(3) {
    background-color: #f2f2f2;
}


tr:nth-child(4) {
    background-color: #e3e3e3;
}

tr:nth-child(5) {
    background-color: #f2f2f2;
}

tr:nth-child(6) {
    background-color: #e3e3e3;
}

tr:nth-child(7) {
    background-color: #f2f2f2;
}

tr:nth-child(8) {
    background-color: #e3e3e3;
}

tr:last-child td:first-child {
    background-color: #dddddd;
    padding: 32px 15px;
}

tr:last-child td:nth-child(2) {
    background-color: #eeeeee;
}

tr:last-child td:nth-child(3) {
    background-color: #f4f4f4;
}

tr:last-child td:nth-child(4) {
    background-color: #eeeeee;
}

/*цена*/
.price {
    font-size: 50pt;
    font-weight: bold;
    color: rgba(72, 72, 72, 255);
    margin: 0 auto;
    margin-left: 30px;
    text-align: left;
}

.price:before {
    content: '$';
}

.sub-price {
    font-size: 24pt;
    color: rgba(72, 72, 72, 255);
    position: relative;
}

.permonth {
    font-size: 13pt;
    font-weight: normal;
    color: rgba(72, 72, 72, 255);
    position: absolute;
    padding-left: 15px;
    top: 165px;
}

.tr2, .tr3, .tr4, .tr5, .tr6, .tr7, .tr8 {
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
}

.btn1, .btn2, .btn3, .btn4 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    color: #ffffff
}

.btn1 {
    background-color: #484848;
    padding: 18px 44px 12px;
    border-radius: 5px;
    border-bottom: 6px solid #404040;
}
.btn1:hover {
    background-color: #404040;
}

.btn2 {
    background-color: #89c331;
    padding: 18px 52px 12px;
    border-radius: 5px;
    border-bottom: 6px solid #79b027;
}
.btn2:hover {
    background-color: #79b027;
}

.btn3 {
     background-color: #f04a56;
     padding: 18px 52px 12px;
     border-radius: 5px;
     border-bottom: 6px solid #df3a46;
 }
.btn3:hover {
    background-color: #df3a46;
}

.btn4 {
    background-color: #20807c;
    padding: 18px 52px 12px;
    border-radius: 5px;
    border-bottom: 6px solid #16736f;
}
.btn4:hover {
    background-color: #16736f;
}
